<!-- <header >
  <div class="w-full h-64 bg-center bg-fixed bg-cover relative" style="background-image: url('https://source.unsplash.com/user/erondu/1600x900')" >
    <div class="container mx-auto text-center text-white">
      <h2>Ok Thanks</h2>
    </div>
  </div>
  
</header> -->
<h3 class="text-center text-gray-800 uppercase tracking-wider py-3 font-semibold">&lt;Bài viết/&gt;</h3>
<section class="block lg:flex mx-auto my-5 container min-h-screen">

  <!-- <div class="w-full lg:w-1/5">
    <div class="px-4  mb-8 lg:mb-0">
      <app-image-shell [class]="'rounded-full mx-auto h-24 w-24'" [src]="'assets/img/me_ava.jpg'">
      </app-image-shell>

      <div class="text-center my-2">
        <h2 class="text-lg font-semibold">TungNXU</h2>
        <p class="text-gray-700 text-sm  mb-0">Tiêu dao</p>
        <p class="text-red-500 text-sm mb-2">Front-end Dev - Designer</p>
        <p class="text-gray-700 text-sm">Hi there, <br>This page includes things that i have learned about Front-end
          programming, design & UX-UI</p>
      </div>
    </div>
  </div> -->
  <div class="w-full">
    <!-- <button (click)="addModal()">Add Modal</button> -->
    <recent-posts-list [class]="'container mx-auto block relative'"></recent-posts-list>
  </div>
  <!-- Slide bai noi bat -->
  <!-- <feature-posts-list></feature-posts-list> -->

</section>
