<main class="my-5">

  <div class="container mx-auto">
    <div class="flex flex-wrap ">
        <div class="w-1/3  mb-4">
          <div class="max-w-sm rounded overflow-hidden shadow-lg">
              <img class="w-full" src="https://loremflickr.com/384/233/paris,girl/all" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </p>
              </div>
              <div class="px-6 py-4">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
              </div>
            </div>
        </div>
        <div class="w-1/3 bg-gray-500 h-12 mb-4"></div>
        <div class="w-1/3 bg-gray-400 h-12 mb-4"></div>
        <div class="w-1/3 bg-gray-400 h-12 mb-4"></div>
        <div class="w-1/3 bg-gray-500 h-12 mb-4"></div>
        <div class="w-1/3 bg-gray-400 h-12 mb-4"></div>
      </div>
  </div>






  <!-- Slide bai noi bat -->
  <!-- <feature-posts-list></feature-posts-list> -->

  <!-- <recent-posts-list></recent-posts-list> -->
</main>
