<div id="modal" class="modal "  role="dialog" [class.hide]="close">
    <button type="button" class="btn-close-modal text-2xl  focus:outline-none" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-content">
      <div class="modal-header w-100 h-12 flex justify-between items-center px-4 py-1">
        <h5 class="modal-title font-semibold text-base uppercase">{{modalOptions.title}}</h5>
       
      </div>
      <div id="template" class="modal-body">
        <!-- <edit-post-panel [newPost]="modalOptions?.data" (doneNow)="closeModal()"></edit-post-panel> -->
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
      </div> -->
  </div>
</div>
<!-- Use modal overlay -->
<div class="modal-overlay" [class.hide]="close" id="modal-overlay" (click)="closeModal()"></div>