/* You can add global styles to this file, and also import other style files */
@charset 'utf-8';

//Abstracts
/*Abstracts: handles function, mixins, and variables*/
@import "abstracts/__abstracts-dir";

//Base Styles
/*Base: animations, base, typography, and utilies.*/
@import "base/__base-dir";

//Components
/*Components: have a single scss file for each individual component*/
@import "components/__components-dir";

//Layout
/*Layout: Header, footer, grid, navigation*/
@import "layout/__layouts-dir";

$ionicons-font-path: "~ionicons/dist/fonts";@import "~ionicons/dist/scss/ionicons.scss";

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}




.app-header{
    // position: fixed;
    // right: 0;
    // top: 0;
    // left: 0;
    // z-index: 1;
    display: block;
    }


    img.lazy-image{
        opacity: 0;
        background: #fafafa;
    }
    .fade{
        animation: fadeIn .6s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        cursor: zoom-in;
    }
    
    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }


html.transition p ,
html.transition span ,
html.transition h1 ,html.transition h2 ,html.transition h3 ,html.transition h4 ,html.transition h5 ,html.transition h6 ,html.transition a ,
html.transition p *,
html.transition p *:before,
html.transition p *:after {
    animation: transitionAll 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important; 
//    transition: all 750ms !important;
//    transition-delay: 0 !important;
 }

 @keyframes transitionAll {
    0% {
      opacity: 0;
    //   transform: translateX(-30px);
    }

    // 50% {
    //     opacity: 0;
    //   }
  
    100% {
      opacity: 1;
    //   transform: translateX(0px);
    }
  }