<quill-editor format="html" [sanitize]="true" [(ngModel)]="model" (ngModelChange)="onModelChange($event)" [modules]="configEditor" (onEditorCreated)="created($event)" [placeholder]="placeholder"   (onSelectionChanged)="logSelection($event)"   spellcheck="false">
  <div quill-editor-toolbar>
      
        <span class="ql-formats">
            <select class="ql-font"></select>
            <select class="ql-size"></select>
            <select class="ql-header" >
                <option value="" disabled selected>Paragraph</option>
                <option value="1">Heading 1</option>
                <option value="2">Heading 2</option>
                <option value="3">Heading 3</option>
                <option value="4">Heading 4</option>
                <option value="5">Heading 5</option>
                <option value="6">Heading 6</option>
            </select>
          </span>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-script" value="sub"></button>
          <button class="ql-script" value="super"></button>
        </span>
        <span class="ql-formats">
            <button class="ql-indent" value="-1"></button>
            <button class="ql-indent" value="+1"></button>
          </span>
        <span class="ql-formats">
          <button class="ql-header" value="1"></button>
          <button class="ql-header" value="2"></button>
          <button class="ql-blockquote"></button>
          <button class="ql-code-block"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <button class="ql-indent" value="-1"></button>
          <button class="ql-indent" value="+1"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-direction" value="rtl"></button>
          <select class="ql-align"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-link"></button>
          <button class="ql-image"></button>
          <button class="ql-video"></button>
          <button class="ql-formula"></button>
        </span>
        <span class="ql-formats">
          <button class="ql-clean"></button>
          <button class="ql-taskerFigure">ok</button>
        </span>
  <span class="ql-formats">
    <div id="counter"></div>
  </span >
 
  <span class="ql-formats">
    <a href="javascript:;" (mousedown)="insertImage()"><i class="icon ion-md-images"></i></a>
  </span>
  <span class="ql-formats">
    <a href="javascript:;" (mousedown)="insertImageCap()"><i class="icon ion-md-images"></i></a>
  </span>
  <span class="ql-formats">
    <a href="javascript:;" (mousedown)="sourceChange()"><i class="icon ion-md-code-working"></i></a>
  </span>
</div>

</quill-editor>

<!-- {{model | json}} -->
